

body {
  background-color: whitesmoke
}

h1 {
  color: darkseagreen;
  font-family: Calibri, sans-serif;
  text-align: center;
}


h2 {
  font-family: Calibri, sans-serif;
  background-color: darkseagreen;
  padding-left: 45px
  }

.work {
  font-family: Calibri, sans-serif;
  border: 2px solid honeydew;
  padding-left: 5px
}

